{% extends "cards/base.html" %}
{% load duration i18n %}
{% block header %}
    {% trans "Average Bottle Size" %}
{% endblock %}
{% block title %}
    {% if average is not None %}
        {{ average|floatformat }}
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
{% block content %}
    {% if count %}
        {% blocktrans trimmed count counter=count %}
            {{ counter }} bottle
        {% plural %}
            {{ counter }} bottles
        {% endblocktrans %}
    {% endif %}
{% endblock %}
